---
import BackButton from "@components/BackButton.astro";
import CakeOrderCard from "@components/CakeOrderCard.astro";
import { Filter } from "@components/react/filter/Filter";
import ShoppingCart from "@components/react/ShoppingCart";
import { StepperOrder } from "@components/react/StepperOrder";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const { step = 1 } = Astro.params;

const tortas = await getCollection("tortas");
---

<Layout title="Uchi | Realiza tu pedido">
	<main class="mt-2 lg:m-4 pb-20">
		<div class="h-[10%] flex items-center">
			<BackButton href="/" />
		</div>
		<section class="flex flex-col justify-center items-center w-full mt-4">
			<div class="w-full flex items-center justify-center lg:pl-3">
				<section class="flex w-11/12 md:w-8/12 lg:w-6/12 mb-2">
					<div
						class="bg-secondary-accent/5 w-full rounded-full shadow-3xl flex items-center justify-center"
					>
						<StepperOrder client:load step={+step} />
					</div>
				</section>
			</div>
			<section class="flex w-full mt-4 relative">
				<!-- FILTRO -->
				<Filter client:load />
				<!-- CARDS -->
				<section
					class="md:grid md:grid-cols-2 lg:grid-cols-3 place-items-center md:gap-10 flex-1 lg:ml-8"
				>
					<!-- Card -->
					{
						tortas.map((torta) => (
							<CakeOrderCard key={torta.id} torta={torta.data} />
						))
					}
				</section>
			</section>
			<ShoppingCart client:only="react" />
		</section>
	</main>
</Layout>
