---
import BackButton from "@components/BackButton.astro";
import FilterListItem from "@components/FilterListItem.astro";
import Layout from "@layouts/Layout.astro";

const listItems = [
	{
		title: "Chocolate",
	},
	{
		title: "Crema",
	},
	{
		title: "Dulce de Leche",
	},
];
---

<Layout title="Uchi | Realiza tu pedido">
	<main class="m-4 pb-10">
		<div class="h-[10%] flex items-center">
			<BackButton href="/" />
		</div>
		<section class="flex flex-col justify-center items-center w-full mt-8">
			<div class="flex flex-grow">x</div>
			<section class="flex w-full">
                <!-- FILTRO -->
				<div class="w-2/12">
					<div class="bg-primary w-full p-3 text-center shadow-3xl">
                        <h3 class="text-2xl font-medium text-accent">Filtros y busqueda</h3>
						<hr class="my-2 bg-accent h-0.5 rounded-full" />

						<section class="flex flex-col justify-center items-center mt-3">
							<h3 class="text-2xl font-medium text-accent mb-2 self-start ml-4">
								Buscar
							</h3>

							<div class="w-11/12">
								<input
									type="text"
									placeholder="Buscar torta o postre"
									class="rounded-md bg-primary py-2 w-full shadow-3xl indent-2 placeholder-accent font-semibold text-accent"
								/>
							</div>
						</section>
						<section class="flex flex-col justify-center items-center mt-3">
							<h3 class="text-2xl font-medium text-accent mb-2 self-start ml-4">
								Filtros
							</h3>
							<ul class="flex flex-col items-start w-11/12">
								{
									listItems.map((listItem) => (
										<FilterListItem title={listItem.title} />
									))
								}
							</ul>
						</section>
					</div>
				</div>
                <!-- CARDS -->
				<div class="flex-1">x</div>
			</section>
		</section>
	</main>
</Layout>
