---
import OvenBottomContainer from "./OvenBottomContainer.astro";
import OvenTopContainer from "./OvenTopContainer.astro";
---

<div class="w-11/12 sm:w-6/12 lg:w-full h-3/4 sm:h-full lg:h-3/4">
	<OvenTopContainer />
	<OvenBottomContainer />
</div>
