---
import BackButton from "@components/BackButton.astro";
import { ShoppingCartTable } from "@components/react/ShoppingCartTable";
import { StepperOrder } from "@components/react/StepperOrder";
import Layout from "@layouts/Layout.astro";

import { orderMock } from "@mocks/orderMock";

const { path = "checkout", step = 2 } = Astro.params;
---

<Layout title="Uchi | Checkout de tu pedido">
	<main class="mt-2 lg:m-4 md:pb-10 lg:pb-0">
		<div class="h-[10%] flex items-center">
			<BackButton href="/pedido" />
		</div>

		<section class="flex flex-col justify-center items-center w-full mt-4">
			<div class="w-full flex items-center justify-center lg:pl-3">
				<section class="flex w-11/12 md:w-8/12 lg:w-6/12 mb-2">
					<div
						class="bg-secondary-accent/5 w-full rounded-full shadow-3xl flex items-center justify-center"
					>
						<StepperOrder client:load step={+step} />
					</div>
				</section>
			</div>
			<section
				class="bg-primary shadow-3xl h-full rounded w-11/12 md:w-8/12 lg:w-7/12 flex flex-col items-center justify-center mt-6" 
			>
				<div class="w-full py-3 md:py-0 md:pt-3 lg:pt-0 flex h-[25rem]">
					<ShoppingCartTable orderMock={orderMock} path={path} client:load />
				</div>
				<div class="w-full col-span-2 py-4 flex justify-end mt-1">
					<a
						href="/pedido/checkout/pago"
						class={`px-5 py-2 mr-3 bg-secondary text-3xl text-primary rounded shadow-3xl hover:bg-[#B3B770]`}
					>
						Pagar
					</a>
				</div>
			</section>
		</section>
	</main>
</Layout>
