---
import Layout from "../layouts/Layout.astro";
import LinkButton from "@components/LinkButton.astro";
import Whatsapp from "@components/Whatsapp.astro";
---

<Layout title="Uchi | Home">
	<main class="grid grid-cols-3 grid-rows-2 min-h-screen">
		<div class="flex items-center justify-center col-span-3">
			<h1 class="text-9xl text-accent mt-6">UCHI</h1>
		</div>

		<section class="col-span-2 flex flex-col items-end pr-14">
			<div class="flex flex-col justify-between h-3/6">
				<LinkButton title="HACE TU PEDIDO" href="/pedido" />
				<LinkButton title="TORTAS Y POSTRES" href="/tortas-y-postres" />
			</div>
		</section>

		<Whatsapp />
	</main>
</Layout>
