---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import LinkButton from "@components/LinkButton.astro";
---

<Layout title="Uchi | Home">
	<main class="grid grid-cols-3 grid-rows-2 min-h-screen">
		<div class="flex items-center justify-center col-span-3">
			<h1 class="text-9xl text-accent mt-6">UCHI</h1>
		</div>

		<section class="col-span-2 flex flex-col items-end pr-14">
			<div class="flex flex-col justify-between h-3/6">
				<LinkButton title="HACE TU PEDIDO" href="/" />
				<LinkButton title="TORTAS Y POSTRES" href="/" />
			</div>
		</section>

		<div class="relative">
			<button
				data-whatsapp
				class="absolute bottom-1/4 right-1/4"
				title="Consultas o pedidos personalizados."
			>
				<Icon name="whatsapp" size={75} />
			</button>
		</div>
	</main>
</Layout>

<script>
	const whatsappButton = document.querySelector("[data-whatsapp]");

	whatsappButton!.addEventListener("click", () => {
		window.open("https://wa.me/+59898822947/?text=Hola", "_blank");
	});
</script>
<style></style>
