---
import BackButton from "@components/BackButton.astro";
import { StepperOrder } from "@components/react/StepperOrder";
import { PaymentSection } from "@components/react/payment/PaymentSection";
import Layout from "@layouts/Layout.astro";

const { step = 3 } = Astro.params;
---

<Layout title="Uchi | Realiza el pago de tu pedido">
	<main class="mt-2 lg:m-4 md:pb-10 lg:pb-0">
		<div class="h-[10%] flex items-center">
			<BackButton href="/pedido/checkout" />
		</div>

		<section class="flex flex-col justify-center items-center w-full mt-4">
			<div class="w-full flex items-center justify-center flex-col md:px-3">
				<section class="flex w-11/12 md:w-8/12 lg:w-6/12 mb-2">
					<div
						class="bg-secondary-accent/5 w-full rounded-full shadow-3xl flex items-center justify-center"
					>
						<StepperOrder client:load step={+step} />
					</div>
				</section>

				<PaymentSection client:load />
			</div>
		</section>
	</main>
</Layout>
