---
import { Icon } from "astro-icon/components";

interface Props {
	href: string;
}

const { href } = Astro.props;
---

<a
	id="btn-back"
	href={href}
	class="hidden md:block px-5 py-2 ml-5 bg-secondary text-4xl text-primary text-center rounded shadow-3xl hover:bg-[#B3B770]"
	title="Volver">Volver</a
>
<a
	id="btn-back-mobile"
	href={href}
	class="md:hidden px-5 py-2 ml-5 bg-secondary text-4xl text-primary text-center rounded shadow-3xl hover:bg-[#B3B770]"
	title="Volver"
>
	<Icon name="arrowUp" class="-rotate-90" />
</a>
