---
import { Image } from "astro:assets";

import placeholder from "../assets/images/placeholder.jpeg";
import { OrderCounter } from "./react/OrderCounter";

const { title } = Astro.props;
---

<div
	class="bg-primary w-11/12 lg:w-9/12 min-h-[30rem] max-h-[30rem] rounded shadow-3xl pb-3 mb-6"
>
	<div class="h-48 rounded-t relative">
		<Image
			src={placeholder}
			alt="placeholder"
			class="h-full w-full object-cover rounded-t"
			quality="low"
		/>
		<OrderCounter client:load id="lala" />
	</div>
	<div class="text-accent flex flex-col justify-center items-center px-4">
		<h2 class="text-2xl text-center font-semibold my-2">
			{title}
		</h2>

		<span class="text-xl lg:text-base font-medium text-pretty">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum vero qui
			aliquid harum, inventore asperiores minima sint impedit beatae corporis
			nihil explicabo illum praesentium sed quas a, ratione atque et.
		</span>
	</div>
</div>
