---
import { Image } from "astro:assets";

const { slug, description, image, title } = Astro.props;

import placeholder from "../assets/images/placeholder.jpeg";
---

<div
	class="bg-primary lg:w-[49%] lg:h-44 rounded shadow-3xl my-5 cursor-pointer hover:shadow-3xl hover:-translate-y-1 hover:scale-105 transition ease-in-out delay-75 duration-300"
>
	<a
		class="flex flex-col md:flex-row h-full w-full"
		href=`/tortas-y-postres/${slug}`
	>
		<div class="w-full md:w-1/4 h-full">
			<Image
				src={image || placeholder}
				alt="Tortas"
				class="object-cover h-full w-full even:rounded-r odd:rounded-l"
				quality="low"
			/>
		</div>
		<div class="flex-1 p-3 md:p-2">
			<span
				class="block text-center lg:text-2xl text-accent font-semibold py-2"
			>
				{title}
			</span>
			<span class="text-xl text-secondary-accent">
				{description}
			</span>
		</div>
	</a>
</div>
