---
import { Icon } from "astro-icon/components";
---

<div class="md:h-full fixed bottom-7 left-3/4 md:left-0 md:bottom-0 md:relative">
	<div class="h-1/2 relative hidden sm:block">
		<div
			class="bg-white w-1/2 h-fit absolute bottom-3 right-[15%] rounded-md p-2 shadow-md"
		>
			<span class="text-lg">Realiza consultas o pedidos personalizados!</span>
		</div>
		<div
			class="bg-white h-6 w-6 rotate-45 absolute bottom-0 right-[30%] shadow-md"
		>
		</div>
	</div>
	<div>
		<button
			data-whatsapp
			class="md:absolute md:bottom-1/4 md:right-1/4"
			title="Consultas o pedidos personalizados."
		>
			<Icon name="whatsapp" size={75} />
		</button>
	</div>
</div>

<script>
	document.addEventListener("astro:page-load", () => {
		const whatsappButton = document.querySelector("[data-whatsapp]");

		whatsappButton!.addEventListener("click", () => {
			window.open("https://wa.me/+59898822947/?text=Hola", "_blank");
		});
	});
</script>
