---
import { Icon } from "astro-icon/components";
---

<div
	class="fixed bottom-7 left-3/4 md:left-0 md:bottom-0 md:relative md:h-full"
>
	<div class="h-1/2 relative hidden sm:block">
		<div
			class="bg-white lg:w-1/2 h-fit absolute bottom-3 md:bottom-10 lg:bottom-3 right-[15%] rounded-md p-2"
		>
			<span class="text-lg md:hidden lg:block"
				>Realiza consultas o pedidos personalizados!</span
			>
			<span class="text-base hidden md:block lg:hidden z-10">Realiza consultas!</span
			>
		</div>
		<div
			class="bg-white h-6 w-6 rotate-45 absolute bottom-0 md:bottom-7 lg:bottom-0 right-[30%] -z-10"
		>
		</div>
	</div>
	<div>
		<button
			data-whatsapp
			class="md:absolute md:bottom-1/4 md:right-1/4"
			title="Consultas o pedidos personalizados."
		>
			<Icon
				name="whatsapp"
				class="w-[75px] h-[75px] md:w-[65px] md:h-[65px] lg:w-[75px] lg:h-[75px]"
			/>
		</button>
	</div>
</div>

<script>
	document.addEventListener("astro:page-load", () => {
		const whatsappButton = document.querySelector("[data-whatsapp]");

		whatsappButton!.addEventListener("click", () => {
			window.open("https://wa.me/+59898822947/?text=Hola", "_blank");
		});
	});
</script>
