---
import type { GetStaticPaths } from "astro";
import Layout from "@layouts/Layout.astro";

import BackButton from "@components/BackButton.astro";
import { getCollection } from "astro:content";

export const getStaticPaths = (async () => {
	const tortas = await getCollection("tortas");
	return tortas.map((torta) => ({
		params: {
			slug: torta.slug,
		},
		props: {
			torta,
		},
	}));
}) satisfies GetStaticPaths;

const { torta } = Astro.props;

const { title, extendedDescription, tags, image } = torta.data;
---

<Layout title=`Uchi | ${title}`>
	<main class="mt-2 lg:m-4 min-h-screen mb-10">
		<div class="h-[10%] flex items-center mb-5">
			<BackButton href="/tortas-y-postres" />
		</div>

		<section
			class="w-11/12 md:w-8/12 lg:w-6/12 m-auto bg-primary shadow-3xl rounded"
		>
			<div class="h-96 rounded-t">
				<div class="h-full w-full rounded-t">
					<img
						src="/placeholder.jpeg"
						alt="placeholder"
						class="max-h-full max-w-full w-full rounded-t"
					/>
				</div>
			</div>

			<section class="flex flex-col items-center text-accent">
				<div class="my-6">
					<h1 class="text-3xl">{title}</h1>
				</div>

				<div class="w-10/12 pb-10">
					<p class="text-xl text-pretty">
						{extendedDescription}
					</p>
				</div>
			</section>
		</section>
	</main>
</Layout>
