---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";

import placeholder from "../../assets/images/placeholder.jpeg";
---

<Layout title="Uchi | torta">
	<main class="m-4 min-h-screen mb-10">
		<div class="h-[10%] flex items-center mb-5">
			<a
				id="btn-back"
				href="/tortas-y-postres"
				class="px-5 py-2 ml-5 bg-secondary text-4xl text-primary text-center rounded shadow-3xl hover:bg-[#B3B770]"
				title="Volver">Volver</a
			>
		</div>

		<section class="w-6/12 m-auto bg-primary shadow-3xl rounded">
			<div class="h-96 rounded-t">
				<div class="h-full w-full rounded-t">
					<Image
						src={placeholder}
						alt="placeholder"
						class="max-h-full max-w-full rounded-t"
					/>
				</div>
			</div>

			<section class="flex flex-col items-center text-accent">
				<div class="my-6">
					<h1 class="text-3xl">TITULO DE TORTA</h1>
				</div>

				<div class="w-10/12 pb-10">
					<p class="text-xl text-pretty">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
						quibusdam ab rem debitis blanditiis quod quis exercitationem at, id
						repudiandae aperiam quia animi doloremque quidem necessitatibus,
						numquam sed corrupti? Iste?
					</p>
				</div>
			</section>
		</section>
	</main>
</Layout>
